<table>
  <tr>
    <td><%= ShippingCategory.human_name %>:</td>
    <td><%= collection_select(:flexi_shipping_rate, 
                              :shipping_category_id, @available_categories, :id, :name, 
                              {}, {"style" => "width:200px"}) %></td>
  </tr>
  <tr>
    <td><%=t("zone")%>:</td>
    <td><%= collection_select(:flexi_shipping_rate, 
                              :zone_id, @available_zones, :id, :name, 
                              {}, {"style" => "width:200px"}) %></td>
  </tr>
	<tr>
    <td><%= FlexiShippingRate.human_attribute_name("first_item_price")%>:</td>
    <td><%= f.text_field :first_item_price, {"style" => "width:60px"} %></td>
  </tr>
	<tr>
    <td><%= FlexiShippingRate.human_attribute_name("additional_item_price")%>:</td>
    <td><%= f.text_field :additional_item_price, {"style" => "width:60px"} %></td>
  </tr>
	<tr>
    <td><%= FlexiShippingRate.human_attribute_name("max_number_of_items")%>:</td>
    <td><%= f.text_field :max_items, {"style" => "width:30px"} %></td>
  </tr>
</table>