<h1><%= FlexiShippingRate.human_name(:count => 2) %></h1>
<table class="admin-report" width="545">
  <thead>
    <tr>
	    <th><%= FlexiShippingRate.human_attribute_name("shipping_category") %></th>
      <th><%= FlexiShippingRate.human_attribute_name("zone")%></th>
      <th><%= FlexiShippingRate.human_attribute_name("first_item_price")%></th>
      <th><%= FlexiShippingRate.human_attribute_name("additional_item_price")%></th>
      <th><%= FlexiShippingRate.human_attribute_name("max_number_of_items")%></th>
			<th><%= t("action")%></th>
    </tr>
  </thead>
  <tbody>
    <% @flexi_shipping_rates.each do |flexi_shipping_rate| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%=flexi_shipping_rate.shipping_category.name %></td>
        <td><%=flexi_shipping_rate.zone.name %></td>
        <td><%=number_to_currency(flexi_shipping_rate.first_item_price) %></td>
        <td><%=number_to_currency(flexi_shipping_rate.additional_item_price) %></td>
        <td><%=flexi_shipping_rate.max_items %></td>
        <td>
          <%=link_to t("edit"), edit_object_url(flexi_shipping_rate) %> |
          <%=link_to t("delete"), object_url(flexi_shipping_rate), :method => :delete %>
        </td>
      </tr>
    <% end %>
    <% if @flexi_shipping_rates.empty? %>
      <tr><td colspan="5">None.</td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to "#{t("actions.new")} #{FlexiShippingRate.human_name}", new_object_url %>